<%= content_tag :div, id: 'update-status',
                data: { url: user_url(current_user) } do %>
  <% unless update_status.nil? %>
    <p>Update is <%= update_status %>% complete.</p>
  <% end %>
<% end %>
