<h1>HELLO, CRUEL WORLD</h1>
<% if @user.nil? %>
  <p>Enter your Github username and all secrets will be revealed.</p>
  <%= form_tag do %>
    <%= text_field_tag(:quepasa) %>
    <%= submit_tag("GOGOGOGOGOGOGO") %>
  <% end %>
<% else %>
  <%= Do some stuff %>
<% end %>
