<h1>Hold on for a moment while we do some heavy lifting...</h1>

<p>There's going to be some JavaScript that keeps track of the status of the job, and a div around here that has a link to the root_url pop up when the job is complete! Also need a cool gif.</p>

<%= link_to "Go back", root_url %>
